
@font-face{
    font-family: UnifrakturCook;
    src: url(../fonts/UnifrakturCook/UnifrakturCook-Bold.ttf);
}

/* reset */
:root{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
 }
 

.logo{
    
    font-size: 2rem;
    color: var(--bs-indigo);
}



p{
    color: black;
    font-size: 13px;
    text-align: center;
    justify-content: center;
}

button{
    color: white;
    background-color: black;
    border-radius: 20%;
}

h5{
    color: red;
    text-align: center;
}